*~
tmp
bisection.ps
bisection.dot
bisection.html
bisection.png
bisection.mini.png
repos
*.mro
*.mro.new
*.mro.old
*.mro.in
*.mro.in.new
*.mro.lock
report-lock
publish-lock
bisecting-sticky-branch
[tu].*
[tu]
data-plan.pl
data-plan.pl.new
data-plan-debug-*.txt
data-tree-lock
tree-bisect
