PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin
# m h dom mon dow command
49 14,19,1 * * * cd testing.git && ./cr-for-branches branches -w "./cr-daily-branch --real"
18,48 * * * * cd testing.git && ./cr-for-branches bisects -w "./cr-try-bisect --real"
3 5     * * * savelog -c7 testing.git/tmp/cr-for-branches.log >/dev/null
